<div class="container">
  <a class="logo-container" href="https://www.linkedin.com/in/marcos-wergles/" target="_blank">
    <img class="logo-container--logo" src="assets/img/logo.svg" alt="Logo Gazin App" />
    <p class="logo-container--name">GAZIN APP</p>
  </a>
  <nav class="menu">
    <ul class="menu--list">
      <li class="menu--list-item" routerLink="/levels" routerLinkActive="ativo">Níveis</li>
      <li class="menu--list-item" routerLink="/devs" routerLinkActive="ativo">Desenvolvedores</li>
    </ul>
  </nav>
</div>
