$blue-100: #edf2f2;
$blue-300: #4392a3;
$blue-500: #2b6a73;
$blue-800: #1a3840;
$blue-900: #142129;

$black: #0d0d0d;
$green: #1fb128;
$red: #df2e2e;

$font: 'Open Sans';

$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
$font-extra-bold: 900;
